<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .user{
          width: 400px;
          height: 450px;
          margin: auto;
          background-color: burlywood;
          border: solid black 2px;
          padding: 10px;
          text-align: center;
          
        }
      </style>
</head>
<body style="background-color:darkslategray ;">
    </html>
<div class="user">
<h1>LogIn</h1>
<form  action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
    <a href="{% url 'logout' %}">LogOut</a>
    <a href="{% url 'register' %}">Creat account</a>

</form>
</div>
</body>
